*{
    font-family: 'Poppins' , sans-serif;

}


body{
    background-size: 100%;
    background-color: rgb(91, 35, 13);
    /* background: linear-gradient(135deg, #461157, #82179c); */
    margin-top: 150px;
   
    
}


.container{
    /* background: linear-gradient(135deg, #55136b, #4e085f); */
   /*  */
    width: 400px;
    padding: 35px;
    text-align: center;
    background-color: rgb(238, 210, 178);
    margin-left: 37%;
    margin-top: 5px;
    border-radius: 10px;
}

input{
    width: 270px;
    padding: 10px;
    border: 2px solid rgb(166, 126, 66);
    outline: none;
    border-radius: 15px;
    font-size: 19px;
}

button{
    width: 70px;
    height: 39px;
    background-color: rgb(109, 67, 16);
    color: rgb(236, 194, 241);
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 19px;
    cursor: pointer;
}

.text ul{
    position: relative;
    background-color: rgb(164, 104, 55);
    color: white;
    font-size: 19px;
    padding: 7px;
    border-radius: 10px;
    text-align: left;
}

.text ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
}